.taze{
    padding: center;
    font-size: 100px;
margin-left: 380px;
margin-top: 210px;
border-radius: 20px;
width: 85vh;
background-color: rgb(226, 226, 226);
}

.taze:hover{
    background-color: rgb(179, 179, 179);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}